  .mall{padding:20px 20px 100px 20px;}
  .mall>h2{margin-bottom:20px; font-family:'Noto Sans Korean'; font-weight:normal; font-size:24px; color:#b5121b}
  .mall>div{margin-bottom:10px;}
  .mall>div>a>img{width:440px;}